POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=hxroom
POSTGRES_PASSWORD=<PASSWORD>
POSTGRES_DB=hxroom

# better-auth
BETTER_AUTH_SECRET=<openssl rand -base64 32>
BETTER_AUTH_URL=https://api.hxroom.de